@media (max-width: 576px) { 
    
    body {
        font-size: 14px;
    }
    
    .student-categories-items {
        flex-basis: 100%;
        margin-right: 0;
        margin-bottom: 1rem;
    }
    
    .card-columns {
        column-count: 1;
    }
    
    .opportunities-item {
        width: 100%;
        margin-right: 0;
    }
    
    .footer-string-aleft, .footer-string-aright {
        text-align: center;
    }
    
    .footer-string-aleft {
        margin-bottom: 1rem;
    }
    
    .video-item {
        width: 49%;
    }
    
    .video-item:nth-child(2n) {
        margin-right: 0;
    }
    
    .card-country {
        flex-basis: 100%;
        margin-right: 0;
    }
    
    .price-menu {
        margin-left: 0 !important;
        margin-top: .5rem;
    }
    
}

@media (min-width: 576px) and (max-width: 768px) { 

    .student-categories-items {
        flex-basis: 100%;
        margin-right: 0;
        margin-bottom: 1rem;
    }
    
    .card-deck .card {
        flex: 1 1 100%;
        margin-bottom: 1rem;
    }
    
    .card-columns {
        column-count: 2;
    }
    
    .opportunities-item {
        width: 48%;
    }
    
    .opportunities-item:nth-child(2n) {
        margin-right: 0;
    }
    
    .footer-string-aleft {
        margin-bottom: 1rem;
    }
    
    .video-item {
        width: 32%;
    }
    
    .video-item:nth-child(3n) {
        margin-right: 0;
    }
    
    .card-country:nth-child(2n) {
        margin-right: 0;
    }
    
    .price-menu {
        margin-left: 0 !important;
        margin-top: .5rem;
    }
}

@media (min-width: 768px) and (max-width: 992px) { 
    
    .student-categories-items {
        flex-basis: 100%;
        margin-right: 0;
        margin-bottom: 1rem;
    }
    
    .video-item {
        width: 23.5%; 
    }
    
    .video-item:nth-child(4n) {
        margin-right: 0;
    }

    .card-country:nth-child(2n) {
        margin-right: 0;
    }
    
    .price-menu {
        margin-left: 0 !important;
        margin-top: .5rem;
    }
}

@media (min-width: 992px) { 
    
    .opportunities-item:nth-child(3n) {
        margin-right: 0;
    }
    
    .video-item:nth-child(5n) {
        margin-right: 0;
    }
    
    .card-country:nth-child(2n) {
        margin-right: 0;
    }
}

@media (min-width: 1200px) { 
    
    .opportunities-item:nth-child(3n) {
        margin-right: 0;
    }
    
    .video-item:nth-child(5n) {
        margin-right: 0;
    }
    
    .card-country:nth-child(2n) {
        margin-right: 0;
    }
    
}
